body{

  background-color:rgb(243, 236, 226);
  font-family: Arial, Helvetica, sans-serif;
  margin:0;

}
a{
color: rgb(138, 62, 9);

}

.container {

  margin: 40px auto;
  max-width: 600px;
  padding: 0 16px;
}

.panel{
padding: 14;
margin-top: 40px;
  background-color: antiquewhite;
    border: 2px solid rgba(193, 111, 64, 0.25);
    border-radius: 11px;
    box-shadow: 0 8px 24px rgba(104, 44, 2, 0.08);
    overflow: hidden;
    display: grid;
    grid-template-rows: auto 1fr auto;
   
  }


h1{
 
font-weight: 600;
  font-size: 36px;
  line-height: 1.5;
 color:rgb(207, 130, 28);
 margin: 0 0 6px;
}

h2{
font-size: 20px;
font-style: italic;
color: rgb(138, 62, 9);
margin: 0;

}

header{
text-align: center;
  margin-bottom: 16px;
}

form{

   padding: 16px;
    background-color: rgb(192, 113, 15);
    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 12px;
    align-items: center;
    position: sticky;
    /* stays on top if poem scrolls */
    top: 0;
    z-index: 1;
}

.prompt{
    padding: 12px 14px;
    background-color: antiquewhite;
    width: 100%;
    font-size: 16px;
    line-height: 20px;
    color: rgb(138, 62, 9);
    border-radius: 20px;
    border: 1px solid rgba(193, 111, 64, 0.5);
    outline: none;


}

.prompt:focus {
  box-shadow: 0 0 0 4px rgba(193, 111, 64, 0.15);
}

.submit-button{
margin-left: 20px;
padding: 16px;
background-color: antiquewhite;
color:rgb(94, 42, 5);
font-weight: 600;
border: 1px solid rgba(193, 111, 64, 0.5);
border-radius: 20px;

}

#poem{

  padding: 16px;
  min-height: 180px;
  overflow: auto;
}

.poem-row{
padding: 16px 14px;
margin: 15px;
border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
color: rgb(94, 42, 5);
white-space: pre-wrap;
}

.poem-row:last-child {
  border-bottom: none;

}

footer.inside-panel{
padding: 14px 14px 16px;
text-align: center;
margin-bottom: 10px;
font-size: 14px;
border: 50px rgba(193, 111, 64, 0.5);
border-top: 1px dashed  rgba(193, 111, 64, 0.5);

}
